<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <title>{% block title %} {% endblock %}</title>
  <style>
    #visible_mac{
      display: inline-block;
      padding-top: .3125rem;
      padding-bottom: .3125rem;
      margin-right: 1rem;
      font-size: 1.25rem;
      line-height: inherit;
      white-space: nowrap;
  }
    {% block css %}

      {% endblock %}
  </style>
</head>

<body>

  <nav id="basicNavbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/shop" id="visible_mac">My Awesome Cart</a>
    <button class="navbar-toggler" id="make_brand" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/shop">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/shop/about">About us</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/shop/tracker">Tracker</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/blog">Blog</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/shop/contact">Contact Us</a>
        </li>
      </ul>
      {% if user.is_authenticated %}
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Welcome {{request.user}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/shop/logout">Logout</a>
          </div>
        </li>
      </ul>
      {% else %}
      <!-- Button to trigger Signup modal trigger modal -->
      <button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target="#signupModal">
        Sign Up
      </button>
      <!-- Button to trigger Login modal trigger modal -->
      <button type="button" class="btn btn-primary mr-2" data-toggle="modal" id="login_button"
        data-target="#loginModal">
        Login
      </button>

      {% endif %}
    </div>
  </nav>



  <!-- Signup Modal -->
  <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="signupModalTitle">Sign Up</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/shop/signup/" method="post">{% csrf_token %}
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" name="username" id="username"
                placeholder="Choose a unique username (Lowercase and alphanumeric)" required>
            </div>

            <div class="form-group">
              <label for="fname">First Name</label>
              <input type="text" class="form-control" name="fname" id="fname" required>
            </div>

            <div class="form-group">
              <label for="lname">Last Name</label>
              <input type="text" class="form-control" name="lname" id="lname" required>
            </div>

            <div class="form-group">
              <label for="emailSignup">Email address</label>
              <input type="email" class="form-control" id="emailSignup" name="emailSignup" aria-describedby="emailHelp"
                required>
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>

            <div class="form-group">
              <label for="pass1">Password</label>
              <input type="password" class="form-control" name="pass1" id="pass1" required>
            </div>

            <div class="form-group">
              <label for="pass2">Confirm Password</label>
              <input type="password" class="form-control" name="pass2" id="pass2" required>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

  <!-- Login Modal -->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalTitle">Login Here</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/shop/login/" method="post">{% csrf_token %}
            <div class="form-group">
              <label for="loginusername">Username</label>
              <input type="text" class="form-control" name="loginusername" id="loginusername" required>
            </div>


            <div class="form-group">
              <label for="loginpass">Enter Password</label>
              <input type="password" class="form-control" name="loginpass" id="loginpass" required>
            </div>

            <button type="submit" id="login_submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  {% if messages %}
  {% for message in messages %}
  <div
    class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}"
    id="alertmsg" role="alert">{{ message }}</div>
  {% endfor %}
  {% endif %}

  {% block body %} {% endblock %} {% load static %}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
  <script>
    let isMobile = window.matchMedia("only screen and (max-width: 760px)").matches;
    if (isMobile) {
      $('#visible_mac').hide();
      $('make_brand').attr('class', "navbar-brand navbar-toggler")
      $("#basicNavbar").append(`<b><a href="/shop" id="visible_mac" style='color:#FFFFFF;' >My Awesome Cart</a></b>`)
    }
    //Add popover to cart
    $('#popcart').popover();
    $('#alertmsg').fadeIn().delay(3000).fadeOut();
  </script>
  {% block js %} {% endblock %}
</body>

</html>