{% extends 'shop/basic.html' %} {% block title %}{{product.product_name}}- MyAwesome Cart{% endblock %}
{% block css %}
.btn-primary:disabled{
margin-top: 23px;
}
{% endblock %}
{% block body %}
<div class="container my-4">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <img id="imagepr{{product.id}}" src="/media/{{product.image}}" width="233px" height="385px">
            </div>
            <div class="row">
                <a href='/shop/checkout'><button class="btn btn-primary mx-2 my-4">Buy Now</button></a>
                <span id="divpr{{product.id}}" class="divpr">
                    <button id="pr{{product.id}}" class="btn btn-primary cart my-4">Add to cart
                    </button></span>
            </div>
        </div>
        <div class="col-md-8">
            <h2 id="namepr{{product.id}}">{{product.product_name}}</h2>
            <b>
            <p id="pricepr{{product.id}}">Rs.{{product.price}}</p>
            </b>
            <p>{{product.desc}}</p>
        </div>
    </div>
</div>


{% endblock %} {% block js %}
<script>
    $("#navbarSupportedContent").append(`
            <button type="button" class="btn btn-secondary mx-2" id="popcart" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="Vivamus
sagittis lacus vel augue laoreet rutrum faucibus.">
  Cart(<span id="cart">0</span>)
</button>`);
    //find out the cart items from local storage
    if (localStorage.getItem('cart') == null) {
        var cart = {};
    } else {
        cart = JSON.parse(localStorage.getItem('cart'));
        updateCart(cart);
    }
    if(cart[{{product.id}}] != undefined){
        let idst = item;
        document.getElementById('div' + item).innerHTML = `<button id="A${idst}" class="btn btn-primary cart" disabled>Added to cart</button>`;
    }
    $('.divpr').on('click', 'button.cart', function() {
        var idstr = this.id.toString();
        qty = 1;
        name = document.getElementById("name" + idstr).innerHTML;
        price = document.getElementById("price" + idstr).innerHTML.slice(3, );
        image = document.getElementById("image" + idstr).getAttribute('src');
        cart[idstr] = [qty, name, price, image];
        updateCart(cart);

    });
    updatePopover(cart);

    function updatePopover(cart) {
        var popstr = "";
        popstr = popstr + "<h5>Cart for your items in Myshopping Cart</h5><div class='mx-2 my-2'>";
        var i = 1;
        for (var item in cart) {
            if (cart[item][0] != 0) {
                popstr = popstr + "<b>" + i + "</b>. ";
                popstr = popstr + cart[item][1].slice(0, 19) + "..." + " Qty:" + cart[item][0] + " " + "Price:" + cart[item][2] + "<br>";
                i = i + 1;
            } else {
                for (var item in cart) {
                    if (cart[item][0] == 0) {
                        delete cart[item];
                        window.location.reload();
                        updateCart(cart);
                    }
                }
            }
        }
        popstr = popstr + "</div> <a href='/shop/cart'><button class='btn btn-primary' id='checkout'>View Cart</button></a>";
        document.getElementById('popcart').setAttribute('data-content', popstr);
        $('#popcart').popover('show');
    }



    function updateCart(cart) {
        var sum = 0;
        for (var item in cart) {
            sum = sum + cart[item][0];
        }
        var item = "pr{{product.id}}";
        if (cart[item] != undefined) {
            let idst = item;
            document.getElementById('div' + item).innerHTML = `<button id="A${idst}" class="btn btn-primary cart" disabled>Added to cart</button>`;
            localStorage.setItem('cart', JSON.stringify(cart));
            document.getElementById('cart').innerHTML = sum;
            updatePopover(cart);
        }
    }


</script>
{% endblock %}